*{border: 1px solid gold;
  color: white;
}

.container{width: 95%;}
.row{margin: 0 auto;}
.square{
  display:inline-block;
  border: 1px solid green;
  height: 100px;
  width:12%;
  margin-left:.25%;
}

.odd >.odd{
  background-color: red;
}
.odd >.even{
  background-color: black;
}

.even>.odd{
  background-color: black;
}

.even>.even{
  background-color: red;
}
